body {
    background-color: blueviolet;
    
    height: 90vh; 
    
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.hidden {
    display: none;
}


.board {
    
    height: 500px;
    width: 500px;

    border-radius: 20px;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    
    background-color: whitesmoke;
    gap: 8px;
    
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.cell {
    display: flex;
       
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 30px;
    /* border: 4px solid grey; */
    background-color: blueviolet;
    
    cursor: pointer;

    border: none;
}

#restart {
    position: relative;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
}

.turn {
    
    display: flex;
    margin: 0 auto;
}

.status {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}